.coupon-item {
  width: 100%;
  display: flex;
  padding: 4px;
  border: 2px dashed #848484;
  margin-bottom: 4px;
  border-radius: 8px;
  cursor: pointer;
  min-width: 300px;

  .img-section {
    overflow: hidden;
    min-width: 190px;
    height: 100%;
    margin-right: 10px;
    border-radius: 4px;
    width: 30%;
    flex: 1;
    min-height: 100px;
    .img-infor{
      position: relative;
      .img-service {
        position: absolute;
        width: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -10%);
        margin: auto;
        max-width: 150px;
      }
      .total-use {
        font-weight: bold;
        position: absolute;
        z-index: 111;
        background: #f44335;
        padding: 4px;
        color: #fff;
        transform: translate(-30px, 10px) rotate(-48deg);
        width: 100px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .main-infor {
    width: 100px;
    display: flex;
    position: relative;
    .use-now {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px dashed #848484;
      padding-left: 6px;
      width: 100%;
      .text {
        height: 96%;
        padding: 4px 10px;
        text-transform: uppercase;
        background: #f44335;
        text-align: -webkit-center;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        padding: 4px;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        span {
          height: 30px;
        }
      }
    }
  }
}
.description {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 12px;
  justify-content: space-between;
  min-height: 60px;
  .text {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    &.highlight {
      color: #343a40;
      font-weight: bold;
    }
  }
  .out-date {
    color: gray;
  }
}
