<ngx-spinner type="line-spin-fade" [fullScreen]="true"></ngx-spinner>
<p-toast key="toast-message"></p-toast>
<div class="service-pack-container">
    <div class="title">
        Gói dịch vụ
    </div>
    <div class="row services">
        <div class="col-sm-12 col-md-4 col-lg-3 service-item">
            <div class="img-section">
                <img  class="img-service" src=""> 
            </div>
            <div class="infor">
                <div class="name">
                    Take a look at this pure
                </div>
                <div class="desc">
                    Take a look at this pureTake a look at this pureTake a look at this pureTake a look at this pureTake a look at this pureTake a look at this pureTake a look at this pure
                </div>
                <div class="cost">
                    20d / ngay
                </div>
            </div>
            <div class="icon">
                <i class="pi pi-chevron-right"></i>
            </div>
        </div>
    </div>
</div>