<ngx-spinner type="line-spin-fade" [fullScreen]="true" size="small"></ngx-spinner>
<p-toast></p-toast>
<div class="service-pack-container">
  <p-button class="back-btn" icon="pi pi-arrow-left" *ngIf="backBtnConfig.backLink" [label]="backBtnConfig.label"
    (click)="backTo(backBtnConfig.backLink)">
  </p-button>
  <div class="title">
    Gói dịch vụ
  </div>
  <div class="row services" *ngIf="resServicePacks && resServicePacks.length">
    <div *ngFor="let servicePack of resServicePacks" class="col-sm-6 col-md-4 col-lg-4" style="padding: 4px;"
      (click)="viewDetailServicePack(servicePack)">
      <div class="service-item">
        <div class="img-section">
          <img class="img-service" *ngIf="!servicePack.image" src="assets/service-provider-icon.jpg" />
          <img class="img-service" *ngIf="servicePack.image" [src]="servicePack.image" />
        </div>
        <div class="infor">
          <div class="name">
            {{servicePack.servicePackTitle}}
          </div>
          <div class="desc" style="overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;">
            {{servicePack.servicePackSubTitle}}
          </div>
          <div class="cost">
            <div><span style="color: gray;">Giá: </span> <strong>{{servicePack.price | currencyChina }}đ</strong></div>
            <div>{{servicePack.priceDescription}}</div>
          </div>
        </div>
        <div class="icon">
          <i class="pi pi-chevron-right"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loading ==false && ( !resServicePacks || resServicePacks.length == 0 )">
    <h4 style="margin-top: 20px;">
      <strong>Không có gói dịch vụ nào khả dụng</strong>
    </h4>
  </div>
</div>