<ngx-spinner type="line-spin-fade" [fullScreen]="true" size="small"></ngx-spinner>
<p-toast key="toast-message"></p-toast>
<div class="service-pack-container">
  <div class="title">
    Gói dịch vụ
  </div>
  <div class="row services">
    <div class="col-sm-6 col-md-4 col-lg-3 service-item" (click)="viewDetailServicePack()">
      <div class="img-section">
        <img class="img-service"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToaQxosQ19vLQ_8_D4S8vmnBWwaSnVBx2NcA&usqp=CAU">
      </div>
      <div class="infor">
        <div class="name">
          Take a look at this pure
        </div>
        <div class="desc" style="overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;">
          Take a look at this pureTake a look at this pureTake a look at this pureTake a look at this pureTake
          a look at this pureTake a look at this pureTake a look at this pure
        </div>
        <div class="cost">
          20d / ngay
        </div>
      </div>
      <div class="icon">
        <i class="pi pi-chevron-right"></i>
      </div>
    </div>
  </div>
</div>