<p-toast key="toast-message"></p-toast>
<div class="spinner-wrapper" *ngIf="loading" style="z-index: 1000;">
  <div class="bg-spiner w100 h100"></div>
  <div class="spinner-container w100 h100">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
<div autoscroll="true" class="ng-scope">
  <div class="gr-btn">
    <button type="button" class="btn" printSectionId="print-delivery-request" [styleSheetFile]="styleSheetFiles"
      ngxPrint [disabled]="requestListSelected && requestListSelected.length == 0">
      In phiếu
    </button>
    <button type="button" (click)="start()" class="btn"
      [disabled]="requestListSelected && requestListSelected.length == 0">
      Bắt đầu
    </button>
    <button type="button" (click)="finish()" class="btn"
      [disabled]="requestListSelected && requestListSelected.length ==0">
      Hoàn thành
    </button>
    <button type="button" (click)="cancel()" class="btn"
      [disabled]="requestListSelected && requestListSelected.length == 0">
      Ngừng chuẩn bị
    </button>
  </div>
  <div class="handel-delivery">
    <h3 class="title">
      XỬ LÝ YÊU CẦU GIAO HÀNG
    </h3>
    <div style="background: #f2f4f8;">
      <form [formGroup]="filterForm" class="filter-form" (keydown.enter)="filterRequest()">
        <div class="controls">
          <input placeholder="Mã phiếu" type="text" pInputText formControlName="code" id="deliveryRequestCode" class="input-code" style="width: 100%;" />
        </div>
        <button class="filter-btn" pButton type="button" label="Lọc" (click)="filterRequest()"
          [disabled]="!filterForm.valid || loading"></button>
      </form>
    </div>

    <div class="lst-request-title">
      <span class="title">DANH SÁCH REQUEST</span>
      <p-dropdown [options]="filterByOptions" (onChange)="changeTableSortBy($event)"></p-dropdown>
    </div>

    <!-- table group theo mã phiếu -->
    <div class="search-res" *ngIf="filterBy == 1">
      <div class="clean-table-section mobile" *ngIf="requestList && requestList.length > 0">
        <div class="statistic-all">
          <span>Tổng kiện: <span class="number">{{totalPackageOfRequestList()}} </span> </span>
          <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <span>Chưa thấy: <span class="number">{{totalMissingAmountOfRequestList()}}</span></span>
        </div>
        <div class="number-item-display">
          Đang xử lý <span class="number">{{ requestList.length }}</span> phiếu
        </div>
      </div>
      <div class="clean-table-section desktop" *ngIf="requestList && requestList.length > 0">
        <div class="check-all">
          <p-checkbox binary="true" [(ngModel)]="checkedAll" (onChange)="toggleCheckAll($event)">
          </p-checkbox>
        </div>
        <div (click)="cleanList()" class="clean-table">
          <i class="pi pi-times"></i>
          <span style="padding-left: 4px;" pTooltip="Xóa các request đã chọn ra khỏi danh sách">Xóa khỏi danh sách</span>
        </div>
        <div class="statistic-all">
          <span>Tổng kiện: <span class="number">{{totalPackageOfRequestList()}}</span> </span>
          <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <span>Chưa thấy: <span class="number">{{totalMissingAmountOfRequestList()}}</span></span>
        </div>
        <div class="number-item-display">
          Đang xử lý <span class="number">{{ requestList.length }}</span> phiếu
        </div>
      </div>
      <div class="table-detail">
        <div *ngFor="let request of requestList; let i=index;" pTooltip="Click để xem chi tiết">
          <div [ngClass]="{'d-none': (i < currentPage*numOfItemOnPage) || (i >= (currentPage + 1)*numOfItemOnPage)  }">
            <div class="row-statistic screen">
              <!-- for desktop -->
              <div class="request-infor">
                <p-checkbox binary="true" [(ngModel)]="request.checked"
                  (onChange)="changeSelectedDeliveryRequest($event, request)">
                </p-checkbox>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span>Mã phiếu: <strong>{{request.deliveryRequestCode}}</strong></span>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span>Số kiện: <strong>{{request.numOfItem}}</strong></span>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span>Chưa thấy: <strong>{{ request.numOfMissingItem }}</strong> </span>
              </div>
              <div class="right-header-table">
                <div class="statusDisplay" [class.doing]="request.status==2" [class.create-new]="request.status==1"
                  [class.finish]="request.status==3" [class.cancel]="request.status==7">
                  {{request.statusDisplay}}
                </div>
                <i class="pi" (click)="request.isCollapse = !request.isCollapse"
                  [ngClass]="request.isCollapse ? 'pi-chevron-down' : 'pi-chevron-right'"
                  style="float: right; margin: 4px;"></i>
              </div>
            </div>
            <div class="row-statistic mobile">
              <div class="request-infor">
                <!-- for mobile -->
                <p-checkbox binary="true" [(ngModel)]="request.checked" inputId="binary"
                  (onChange)="changeSelectedDeliveryRequest($event)">
                </p-checkbox>
                <div>
                  <div>Mã phiếu: <strong>{{request.deliveryRequestCode}}</strong></div>
                  <div>Số kiện: <strong>{{request.numOfItem}}</strong></div>
                  <div>Chưa thấy: <strong>{{ request.numOfMissingItem }}</strong> </div>
                </div>
              </div>
              <div class="right-header-table">
                <div class="statusDisplay" [class.doing]="request.status==2" [class.create-new]="request.status==1"
                  [class.finish]="request.status==3" [class.cancel]="request.status==7">
                  {{request.statusDisplay}}
                </div>
                <i class="pi" (click)="request.isCollapse = !request.isCollapse"
                  [ngClass]="request.isCollapse ? 'pi-chevron-down' : 'pi-chevron-right'"
                  style="float: right; margin: 4px;"></i>
              </div>
            </div>
  
            <div class="row" *ngFor="let requestDetail of request.lsDetail" [ngClass]="{'d-none': request['isCollapse']}">
              <div class="col-table col-sm-12 col-md-6 col-lg-6">
                <img class="img" *ngIf="requestDetail.lsImage && requestDetail.lsImage.length"
                  [src]="requestDetail.lsImage[0].attachLink"  (click)="viewImgs(requestDetail.lsImage)"/>
              </div>
              <div class="col-table col-sm-12 col-md-3 col-lg-3 main-infor">
                <div class="detail-info">Mã vận đơn: <span class="id-infor"> {{ requestDetail.merchandiseCode ?
                    requestDetail.merchandiseCode : '' }} </span></div>
                <div class="detail-info">Vị trí: <span class="text-infor"> {{ requestDetail.shelfPosition ?
                    requestDetail.shelfPosition: '' }}</span></div>
                <div class="detail-info">Đơn hàng:<span class="text-infor"> {{ requestDetail.orderCode ?
                    requestDetail.orderCode: '' }}</span></div>
                <div class="detail-info">Mã phiếu:<span class="text-infor"> {{ requestDetail.deliveryRequestCode ?
                    requestDetail.deliveryRequestCode: '' }}</span> </div>
              </div>
              <div class="col-table col-sm-12 col-md-3 col-lg-3 sub-infor  sub-infor-mobile">
                <div>
                  <div class="detail-info">Cân nặng:<span class="text-infor"> {{ requestDetail.netWeight ?
                      requestDetail.netWeight:
                      ''}}</span> kg </div>
                  <div class="detail-info">Thể tích:<span class="text-infor"
                      *ngIf="requestDetail.height !== undefined && requestDetail.width !== undefined && requestDetail.length !== undefined">
                      {{ requestDetail.height && requestDetail.width && requestDetail.length }}</span></div>
                  <div class="detail-info">Mã khách hàng:<span class="text-infor"> {{ requestDetail.userCode ?
                      requestDetail.userCode: '' }}</span></div>
                </div>
                <div class="detail-info status" class="status"
                  (click)="changeStatusDeliveryRequestDetail(requestDetail, requestDetail.deliveryRequestDetailId, requestDetail.status)"
                  [ngClass]="{'not-found':  requestDetail.status == 1 , 'found':requestDetail.status == 2 }">
                  {{ requestDetail.status == 1 ? 'Chưa thấy' : 'Đã thấy'}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="requestList && requestList.length > 0">
          <p-paginator [rows]="numOfItemOnPage" [totalRecords]="requestList.length" (onPageChange)="onPageChange($event)">
          </p-paginator>
        </div>
      </div>
    </div>

    <!-- table group theo mã vị trí -->
    <div class="search-res" *ngIf="filterBy == 2">
      <div class="clean-table-section" *ngIf="requestList && requestList.length > 0">
        <div class="statistic-all" style="border-left: none; margin-left: 0px;">
          <span>Tổng kiện: {{totalPackageOfRequestList()}} </span>
          <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <span>Chưa thấy: {{totalMissingAmountOfRequestList()}}</span>
        </div>
      </div>
      <div class="table-detail">
        <div *ngFor="let positionInfor of listPosition; let i=index;" pTooltip="Click để xem chi tiết">
          <div [ngClass]="{'d-none': (i < currentPageOfRequestsGrByPosition*numOfItemOnPage) || (i >= (currentPageOfRequestsGrByPosition + 1)*numOfItemOnPage)  }">
            <div class="row-statistic" style="display: flex; justify-content: space-between;">
              <div class="request-infor">
                <span>Mã vị trí: <strong>{{positionInfor.shelfPosition}}</strong></span>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span>Tổng kiện: <strong>{{requestListGroupByPosition[positionInfor.shelfPosition].length}}</strong></span>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span>Chưa thấy: <strong> {{missingCountOfRequestList(requestListGroupByPosition[positionInfor.shelfPosition]) }}</strong></span>
              </div>
              <div class="right-header-table">
                <i class="pi" (click)="positionInfor.isCollapse = !positionInfor.isCollapse"
                  [ngClass]="positionInfor.isCollapse ? 'pi-chevron-down' : 'pi-chevron-right'"
                  style="float: right; margin: 4px;"></i>
              </div>
            </div>

            <div class="row" *ngFor="let requestDetail of requestListGroupByPosition[positionInfor.shelfPosition]" [ngClass]="{'d-none': positionInfor['isCollapse']}">
              <div class="col-table col-sm-12 col-md-6 col-lg-6">
                <img class="img" *ngIf="requestDetail.lsImage && requestDetail.lsImage.length"
                [src]="requestDetail.lsImage[0].attachLink" (click)="viewImgs(requestDetail.lsImage)" />
              </div>
              <div class="col-table col-sm-12 col-md-3 col-lg-3 main-infor">
                <div class="detail-info">Mã vận đơn: <span class="id-infor"> {{ requestDetail.merchandiseCode ?
                    requestDetail.merchandiseCode : '' }} </span></div>
                <div class="detail-info">Vị trí: <span class="text-infor"> {{ requestDetail.shelfPosition ?
                    requestDetail.shelfPosition: '' }}</span></div>
                <div class="detail-info">Đơn hàng:<span class="text-infor"> {{ requestDetail.orderCode ?
                    requestDetail.orderCode: '' }}</span></div>
                <div class="detail-info">Mã phiếu:<span class="text-infor"> {{ requestDetail.deliveryRequestCode ?
                    requestDetail.deliveryRequestCode: '' }}</span> </div>
              </div>
              <div class="col-table col-sm-12 col-md-3 col-lg-3 sub-infor  sub-infor-mobile">
                <div>
                  <div class="detail-info">Cân nặng:<span class="text-infor"> {{ requestDetail.netWeight ?
                      requestDetail.netWeight:
                      ''}}</span> kg </div>
                  <div class="detail-info">Thể tích:<span class="text-infor"
                      *ngIf="requestDetail.height !== undefined && requestDetail.width !== undefined && requestDetail.length !== undefined">
                      {{ requestDetail.height && requestDetail.width && requestDetail.length }}</span></div>
                  <div class="detail-info">Mã khách hàng:<span class="text-infor"> {{ requestDetail.userCode ?
                      requestDetail.userCode: '' }}</span></div>
                </div>
                <div class="detail-info status" class="status"
                  (click)="changeStatusDeliveryRequestDetail(requestDetail, requestDetail.deliveryRequestDetailId, requestDetail.status)"
                  [ngClass]="{'not-found':  requestDetail.status == 1 , 'found':requestDetail.status == 2 }">
                  {{ requestDetail.status == 1 ? 'Chưa thấy' : 'Đã thấy'}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="requestList && requestList.length > 0">
          <p-paginator [rows]="numOfItemOnPage" [totalRecords]="listPosition.length" (onPageChange)="onPageGrByPositionChange($event)">
          </p-paginator>
        </div>
      </div>
    </div>

  </div>
</div>


<div id="print-delivery-request">
  <div class="print-container" *ngFor="let deliveryRequest of requestListSelected; let i=index;">
    <div class="page">
      <div class="subpage">
        <div class="form-3">
          <h1 class="text-center text-uppercase"> Phiếu yêu cầu giao hàng </h1>
          <ngx-barcode [bc-value]="deliveryRequest.deliveryRequestCode" bc-height="30" bc-font-size="15" bc-width="1.8"
            [bc-display-value]="true"></ngx-barcode>
          <div class="info">
            <div><strong>Loại:</strong> {{deliveryRequest.typeDisplay}} </div>
            <div><strong>Khách hàng:</strong> {{deliveryRequest.contactName}} </div>
            <div><strong>Điện thoại:</strong> {{deliveryRequest.contactPhone}} </div>
            <div><strong>Địa chỉ:</strong> {{deliveryRequest.address
              + '-' + deliveryRequest.wardDisplay
              + '-' + deliveryRequest.districtDisplay
              + '-' + deliveryRequest.cityDisplay
              + '-' + deliveryRequest.countryDisplay}}</div>
            <div class="text-center">**************</div>
            <div><strong>Nhà xe:</strong> {{deliveryRequest.vehicleName}} </div>
            <div><strong>Điện thoại:</strong> {{deliveryRequest.vehiclePhone}}</div>
            <div><strong>Địa chỉ:</strong> {{deliveryRequest.vehicleAddress}}</div>
            <div class="text-center">**************</div>
          </div>
          <div class="list">
            <table>
              <thead>
                <tr>
                  <th>Mã hàng</th>
                  <th>Vị trí</th>
                  <th>Trọng lượng</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mer of deliveryRequest.lsDetail">
                  <td style="white-space: nowrap;">{{mer.merchandiseCode}}</td>
                  <td style="min-width: 30px;">{{mer.shelfPosition}}</td>
                  <td style="min-width: 30px;">{{mer.paymentWeight}}</td>
                </tr>
                <tr>
                  <td class="no-border">{{deliveryRequest.lsDetail?.length}} kiện hàng</td>
                  <td class="no-border"></td>
                  <td class="no-border">{{deliveryRequest.sumRequestWeight}} kg</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="print-footer">
            <div class="text-center">{{APP_NAME}} - Order </div>
            <div class="text-center">Hotline: 03030203023 </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>