$c_primary-color: #f15922;
$c_status-16-background: #e10d0c;
$c_status-15-background: orange;
$c_status-14-background: yellow;
$c_status-1-background: green;
$c_status_default: blue;
$c_white: #fff;
$c_border: #e8e8e8;
$c_alert: #d90000;
$col-left-md-width: 35%;

.print-container {
  display: none;
}

.d-none {
  display: none;
}
.gr-btn {
  display: flex;
  .btn {
    background: $c_primary-color;
    margin-right: 8px;
  }
}

.handel-delivery {
  padding: 0 10px 10px 0;
  background: #fff;
  min-height: calc(100vh - 100px);
  .title {
    border-top: 2px solid $c_primary-color;
    margin-top: 12px;
    width: fit-content;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  .filter-form {
    padding: 0 10px 10px 10px;
    width: 460px;
    display: flex;
    justify-content: space-around;
    .controls {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }
    .filter-btn {
      margin-left: 20px;
    }
  }
  .search-res{
    max-width: 1000px;
  }
  .statistic-all {
    margin: 0 20px;
    background: white;
    border-left: 2px solid #f15922;
    padding: 8px;
  }
  .lst-request-title{
    margin: 20px 0 10px 10px;
    .title{
      margin-right: 10px;
      font-size: 20px;
      font-weight: bold;
      padding-left: 0;
      border-top: none;
    }
  }
  .clean-table-section{
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
    flex-direction: row;
    margin: 0 0px 0px 10px;
    border: 2px solid #f15922;
    padding: 4px 6px;
    width: calc( 100% - 12px);
    box-sizing: border-box;
    align-items: center;
    position: relative;
    .check-all{
      width: 30px;
      border-right: 2px solid #f15922;
      height: 40px;
      display: flex;
      align-items: center;
    }
    .clean-table {
      cursor: pointer;
      background-color: #f15922;
      border: 2px solid #f15922;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin-left: 12px;
      padding: 8px 4px;
      color: #fff;
      display: flex;
      align-items: center;
      height: 36px;
      border-radius: 4px;
    }
    .number-item-display{
      position: absolute;
      right: 20px;
      .number{
        color: #f15922;
      }
    }
  }
  .table-detail {
    margin-left: 10px;
    width: calc( 100% - 12px );
    .row {
      margin: 0 0 !important ;
      .col-table {
        padding-top: 8px;
        padding-bottom: 8px;
        border: 1px solid #ddd;
      }
    }
    .row-statistic {
      color: #fff;
      background: #f15922;
      padding: 8px;
      cursor: pointer;
      &.mobile {
        display: none;
        justify-content: space-between;
        align-items: center;
      }
      &.screen {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .right-header-table{
        display: flex;
        align-items: center;
        .statusDisplay{
          padding: 4px 8px;
          border-radius: 4px;
          background: #fff;
          margin-right: 12px;
          color: #fff;
          border: 2px solid #fff;
        }
        .doing{
          background-color: #4fa0f7;
        }
        .create-new{
          background-color: #007ad9;
        }
        .finish{
          background-color: #28a745;
        }
        .cancel{
          background-color: #f44336;
        }
      }
    }
    .img {
      max-width: 100%;
      display: block;
      color: pointer;
    }
    .main-infor {
      div {
        .id-infor {
          color: #007ad9;
          font-weight: bold;
        }
        .text-infor {
          font-weight: bold;
        }
      }
    }
    .sub-infor {
      .status {
        width: fit-content;
        padding: 4px 20px;
        color: #fff;
        margin-top: 4px;
        border-radius: 4px;
        background: #007ad9;
        height: 58px;
        line-height: 50px;
        &.found {
          background: #007ad9;
        }
        &.not-found {
          background: #f15922;
        }
      }
      .text-infor {
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .row-statistic {
    &.mobile {
      display: flex !important;
      .request-infor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p-checkbox {
          margin-right: 10px;
        }
      }
    }
    &.screen {
      display: none !important;
    }
  }
  .filter-form {
    width: 100% !important;
    max-width: 450px;
  }
  .sub-infor-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .status {
      height: 40px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .filter-form {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .controls {
      width: 100%;
      .input-code {
        margin-right: 10px;
        flex: 1;
      }
    }
    .filter-btn {
      margin-top: 10px;
      width: 100px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 400px) {
  .filter-form {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .controls {
      width: 100%;
      flex-direction: column;
      .input-code {
        flex: 1;
        margin-bottom: 10px;
      }
      ::ng-deep{
        p-dropdown{
          .ui-dropdown{
            width: calc( 100% - 10px);
            margin-bottom: 10px;
          }
        }
      }
    }
    .filter-btn {
      margin-top: 10px;
      width: 100px;
      margin-bottom: 10px;
      margin-right: 10px;
    }
  }
}

