<div *ngFor="let message of messages" class="message alert {{message.messageClass}}"
     role="alert">{{message.detail}}</div>
<div class="ng-scope" style="">
    <section class="ng-scope">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Yêu cầu giao hàng</h1>
        </section>
        <!-- Main content -->
        <section class="">
            <div class="box clearfix">
                <div class="list-order p-3 clearfix">
                    <div class="form-group clearfix">
                        <p class="text-24 text-tip">(<span class="text-danger">*</span>)<i class="text-default">Quý
                            khách có thể yêu cầu giao hoặc thanh toán tiền còn thiếu nhiều kiện hàng cùng lúc bằng các
                            chọn kiện hàng và nhấn
                            <span class="text-primary text-bold">[Tạo yêu cầu giao]</span> hoặc <span
                                    class="text-danger text-bold">[Thanh toán]</span>
                        </i></p>
                    </div>
                    <div class="top-order form-group clearfix">
                        <ul class="lp-header list-inline">
                            <li class="col-md-5 col-xs-12 p-0">
                                <div class="form-group">
                                    <button (click)="requestDelivery()" [disabled]="this.selection.selected.length < 1" type="submit" class="btn btn-sm btn-info mr-1"><span
                                            class="fa fa-rocket"></span> Tạo yêu cầu giao
                                    </button>
                                    <button (click)="paymentOrders()" [disabled]="this.selection.selected.length < 1" class="btn btn-sm btn-danger mr-1"><i class="fa fa-usd"></i>
                                        Thanh toán
                                    </button>
                                    <button (click)="loadData()" [disabled]="loading" class="btn btn-sm btn-default btn-refresh"
                                            apDomainId     title="Tải lại dữ liệu"><span class="fa fa-refresh"></span></button>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="box-order-list">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="padding-left: 7px;">
                                <div class="pn_top clearfix">
                                    <div class="pn_top_left pull-left">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item border-right pr-2">
                                                <span>Tổng:
                                                    <strong class="text-red ng-binding sum-number">{{countMer ? countMer : 0}}</strong> kiện hàng</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span>Tổng tiền còn thiếu:
                                                <strong class="text-red ng-binding sum-number">{{sumAmount | currency:'VND'}}</strong>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="position-relative">
                                    <div class="spinner-wrapper" [hidden]="!loading">
                                        <div class="spinner-container">
                                            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                                        </div>
                                    </div>
                                    <table mat-table [dataSource]="dataSource" class="w-100 merchandise-table">

                                        <!-- Checkbox Column -->
                                        <ng-container matColumnDef="select">
                                            <th mat-header-cell *matHeaderCellDef class="select-box">
                                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                                              [checked]="selection.hasValue() && isAllSelected()"
                                                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                              [aria-label]="checkboxLabel()">
                                                </mat-checkbox>
                                            </th>
                                            <td mat-cell *matCellDef="let row" class="select-box">
                                                <mat-checkbox (click)="$event.stopPropagation()"
                                                              (change)="$event ? selection.toggle(row) : null"
                                                              [checked]="selection.isSelected(row)"
                                                              [aria-label]="checkboxLabel(row)">
                                                </mat-checkbox>
                                            </td>
                                        </ng-container>

                                        <!-- Position Column -->
                                        <ng-container matColumnDef="merchandiseId">
                                            <th class="merchandise-id text-center" mat-header-cell *matHeaderCellDef>
                                                <span class="d-none d-lg-inline-block">Mã kiện hàng</span>
                                                <span class="d-lg-none">Thông tin kiện hàng</span>
                                            </th>
                                            <td class="merchandise-id" mat-cell *matCellDef="let element">
                                                <div class="d-none d-lg-block text-center c-text-blue">
                                                    {{element.merchandiseCode}}
                                                </div>
                                                <div class="d-lg-none">
                                                    <div class="row mb-2 mt-2">
                                                        <div class="col col-sm-3">
                                                            Mã kiện hàng :
                                                        </div>
                                                        <div class="col c-text-blue">
                                                            {{element.merchandiseCode}}
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col col-sm-3">
                                                            Cân nặng :
                                                        </div>
                                                        <div class="col">
                                                            {{element.paymentWeight}} kg
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col col-sm-3">
                                                            Thể tích :
                                                        </div>
                                                        <div class="col">
                                                            {{element.length}} x {{element.width}}
                                                            x {{element.height}}
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col col-sm-3">
                                                            Mã đơn :
                                                        </div>
                                                        <div class="col">
                                                            <span class="link c-text-blue" (click)="goToOrderDetail(element.orderId)">{{element.orderCode}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col col-sm-3">
                                                            Địa chỉ nhận hàng :
                                                        </div>
                                                        <div class="col mb-2">
                                                            <span class="font-weight-bold">{{element.receiver}} / </span>
                                                            {{element.phone + ' / ' + element.address + ' (' + element.districtName + ', ' + element.cityName + ')'}}
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col col-sm-3">
                                                            Kho hàng :
                                                        </div>
                                                        <div class="col c-text-blue">
                                                            {{element.warehouseName}}
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col col-sm-3">
                                                            Ngày nhập kho :
                                                        </div>
                                                        <div class="col c-text-blue">
                                                            {{element.impDate | date: 'hh:mm dd-mm-yyyy'}}
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col col-sm-3">
                                                            Trạng thái :
                                                        </div>
                                                        <div class="col payment-status" [ngClass]="{'not-payment': element.paymentStatus == 1}">
                                                            {{element.paymentStatusDisplay}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="weight">
                                            <th class="d-none d-lg-table-cell text-center" mat-header-cell *matHeaderCellDef> Cân
                                                nặng
                                            </th>
                                            <td class="d-none d-lg-table-cell text-center" mat-cell
                                                *matCellDef="let element"> {{element.paymentWeight}} kg </td>
                                        </ng-container>

                                        <ng-container matColumnDef="capacity">
                                            <th class="d-none d-lg-table-cell text-center" mat-header-cell *matHeaderCellDef> Thể
                                                tích
                                            </th>
                                            <td class="d-none d-lg-table-cell text-center" mat-cell
                                                *matCellDef="let element">
                                                {{element.length}} x {{element.width}}
                                                x {{element.height}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="orderId">
                                            <th class="d-none d-lg-table-cell text-center" mat-header-cell *matHeaderCellDef> Mã
                                                đơn
                                            </th>
                                            <td class="d-none d-lg-table-cell text-center" mat-cell
                                                *matCellDef="let element"> <span class="link c-text-blue" (click)="goToOrderDetail(element.orderId)">{{element.orderCode}}</span>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="address">
                                            <th class="d-none d-lg-table-cell" mat-header-cell *matHeaderCellDef> Địa
                                                chỉ nhận hàng
                                            </th>
                                            <td class="d-none d-lg-table-cell" mat-cell
                                                *matCellDef="let element">
                                                <span class="font-weight-bold">{{element.receiver}} / </span>
                                                {{element.phone + ' / ' + element.address + ' (' + element.districtName + ', ' + element.cityName + ')'}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="warehouse">
                                            <th class="d-none d-lg-table-cell" mat-header-cell *matHeaderCellDef> Kho
                                                hàng
                                            </th>
                                            <td class="d-none d-lg-table-cell" mat-cell
                                                *matCellDef="let element"> {{element.warehouseName}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="status">
                                            <th class="d-none d-lg-table-cell text-center" mat-header-cell *matHeaderCellDef> Ngày
                                                nhập kho
                                            </th>
                                            <td class="d-none d-lg-table-cell text-center c-text-blue" mat-cell
                                                *matCellDef="let element"> {{element.impDate | date: 'hh:mm dd-mm-yyyy'}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="impDate">
                                            <th class="d-none d-lg-table-cell" mat-header-cell *matHeaderCellDef> Trạng
                                                thái
                                            </th>
                                            <td class="d-none d-lg-table-cell" mat-cell
                                                *matCellDef="let element">
                                                <span class="payment-status" [ngClass]="{'not-payment': element.paymentStatus == 1}">
                                                    {{element.paymentStatusDisplay}}
                                                </span>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                            (click)="selection.toggle(row)">
                                        </tr>
                                    </table>
                                    <div class="text-center mt-2 mb-2" *ngIf="dataSource.data.length === 0">Không có dữ liệu</div>
                                    <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div><!-- end .info-order-list-->
                </div><!-- end list-order-->
            </div>
        </section>
    </section>
</div>
