<div class="service-detail">
  <div class="img-section">
    <img class="img-service" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToaQxosQ19vLQ_8_D4S8vmnBWwaSnVBx2NcA&usqp=CAU"/>
  </div>
  <div class="service-detail-action">
    <div class="name-section">
      <strong class="service-pack-name">Gói thanh toán 1</strong>
      <button pButton class="primary-btn register" type="button" label="Click" ></button>
    </div>
    <div class="cost-infor">
      <div class="title">
        Giá gói
      </div>
      <div class="cost">
        <i class="pi pi-tags icon"></i>
        <span class="text">1000d/ngay</span>
      </div>
    </div>
  </div>
</div>
<div class="detail">

</div>