<div autoscroll="true" class="ng-scope" >
    
        <!-- <div class="box box-chipo clearfix">
            <div class="checkout-step">
                <div class="cs-step deactive">
                    <span class="cs-number"><i class="fa fa-check"></i></span>
                    <span class="cs-name">Giỏ hàng</span>
                </div>
                <div class="cs-step deactive">
                    <span class="cs-number"><i class="fa fa-check"></i></span>
                    <span class="cs-name">Chọn Địa Chỉ Nhận Hàng</span>
                </div>
                <div class="cs-step active">
                    <span class="cs-number"><i class="fa fa-check"></i></span>
                    <span class="cs-name">Đặt Cọc &amp; Kết Đơn</span>
                </div>
            </div>
        </div> -->
        <section class="content-header dp-inBlock w100">
          <div class="content-inline w30">
            <h3>Giỏ hàng</h3>
          </div>
          <div class="content-inline w70 txt-alignRight pad-top10">
            <span> <a class="cor5F6368"> <i class="fa fa-dashboard"></i> Giỏ hàng </a> </span>
            <span class="mar-left5">></span>
            <span class="mar-left5 cur-point cor5F6368 ">Chọn địa chỉ đặt hàng</span>
            <span class="mar-left5">></span>
            <span class="active mar-left5 ">Đặt hàng</span>
          </div>
        </section>
  
        <div class="box box-order-success">
            <div class="box-header with-border box-ls text-green">
                <i class="fa fa-info-circle"></i>
                <span class="box-title">Đặt cọc đơn hàng thành công</span>
            </div>
            <div class="box-body pd15">
                <p class="form-group ng-binding">
                  Babuvi sẽ tiến hành liên hệ người bán và mua hàng cho Quý khách.
                <div class="box-list-success clearfix">
                </div>
            </div>
        </div>
  </div>