<h5><B>{{datas.result.data.taskName}}</B></h5>
<div class="cot1">
  <div class="khuvucNXL">
    Người xử lí:
    <span class="iconUser" *ngFor="let member of data.lsMember" tooltipPosition="bottom" [pTooltip]="member.username"
      (click)="dataMember=member;NXLdetail.toggle($event)">{{getFirstCharacterInUserName(member.username)}}</span>
    <p-overlayPanel #NXLdetail [dismissable]="true" [showCloseIcon]="true" [appendTo]="'body'">
      <div style="margin-bottom:10px">
        <span class="avartarList">
          <span class="avartarIcon">
            {{getFirstCharacterInUserName(dataMember.username)}}

          </span>
        </span>
        <span class="msgAc">
          <div class="tnusername"><b>{{dataMember.username}}</b></div>

        </span>
      </div>
      <div>
        <button class="btn btn-secondary" style="width:100%"
          (click)="removeMember(dataMember.userId, dataMember.taskMemberId,dataMember.username)">
          Gỡ bỏ người xử lí
        </button>
      </div>
    </p-overlayPanel>
  </div>
  <div class="khuvucMota" id="kvMota" (click)="showPanelUpdateCV($event)"
    [style.border]="EditMota==true?'2px solid #17a2b8':''">
    <div [innerHTML]="UrlConverted" *ngIf="!EditMota"></div>
    <div *ngIf="EditMota">
      <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" [(ngModel)]="data.content" #msg
        style="font-size:13px;"></textarea>
      <button (click)="updateDescription()" class="btn btn-success classBold">Lưu</button>
      <button (click)="hidePanelUpdateCV()" class="btn btn-light classBold">X</button>
    </div>
  </div>


  <div class="khuvucTraodoi">
    <div class="goTinNhan">
      <input pInputText type="text" placeholder="Nội dung trao đổi" style="margin-right:2%;width:76%;"
        [(ngModel)]="msgContent" (keyup)="msgKeyUp($event)">
      <button class="btnGui" (click)="sendMsg()" style="width:18%;">Gửi</button>
    </div>
    <div style="height:36vh; overflow-y:scroll;">
      <div *ngFor="let tn of data.lsChat" style="margin-bottom:15px;">
        <span class="iconAc"><span class="icon">{{getFirstCharacterInUserName(tn.username)}}</span></span>
        <span class="msgAc">
          <div class="tnusername"><b>{{tn.username}}</b><span
              style="margin-left:15px;">{{tn.chattime | date :"HH:mm dd/MM/yyyy"}}</span></div>
          <div style="margin-bottom:5px;font-size:13px;" *ngIf="!inEditChat || tn.taskChatId != currentChatEdit"
            class="tncontent" [innerHTML]="convertToUrl(tn.content)">
            <!-- {{tn.content}} -->
          </div>
          <div *ngIf="tn.userId == currentUser.userId?true:false">
            <div *ngIf="inEditChat && tn.taskChatId == currentChatEdit">
              <textarea pInputTextarea [rows]="5" [cols]="30" autoResize="autoResize" [(ngModel)]="tn.content" #msg
                style="font-size:13px;"></textarea><br>
              <button (click)="sendEditChat(tn.taskChatId,tn.content)" class="btn btn-success classBold">Lưu</button>
              <button (click)="tn.content=oldChat;inEditChat = false" class="btn btn-light classBold">X</button>
            </div>
            <span class="btnEdit" *ngIf="!inEditChat || tn.taskChatId != currentChatEdit"
              (click)="GoEdit(tn.taskChatId,tn.content)">
              <u>Sửa</u>
            </span>
            <span class="btnDelete" *ngIf="!inEditChat || tn.taskChatId != currentChatEdit"
              (click)="deleteChat.toggle($event)">
              <u>Xóa tin nhắn</u>
              <p-overlayPanel #deleteChat [dismissable]="true" [showCloseIcon]="true" [appendTo]="'body'">
                <div class="deleteCh">
                  Bình luận sẽ bị xóa vĩnh viễn và bạn không thể hoàn tác!<br>
                  <button class=" btn btn-danger" (click)="deleteAChat(tn.taskChatId,deleteChat)">Xóa bình luận</button>
                </div>
              </p-overlayPanel>
            </span>
          </div>
        </span>
      </div>
      <div #scollBottom1stTime> </div>
    </div>
  </div>
</div>
<div class="cot2">
  <div class="khuvucThaoTac">
    <!-- Sẽ có 2 mục đính kèm, mục 1 hiển thị bên trên các nút thao tác trên giao diện điện thoại,
      mục 2 hiển thị bên dưới nút thao tác trên giao diện máy tính,Ipad. 2 mục có chức năng như nhau nhưng hiển 
    thị tại 2 khu vực khác nhau theo yêu cầu-->
    <div class="hideInIpad hideInPC">
      <div class="headerDinhkem" (click)="attack.show($event)">
        <span>
          <i class="fa fa-paperclip"></i>
          Đính kèm
        </span>
      </div>

      <div class="fileDinhkem">
        <div *ngFor="let link of data.lsAttachFile;let i = index" class="everyLink">
          <div>
            <div (click)="previewLink(link.attachLink,link.type)" class="Linkpreview" pTooltip="Xem trước">
              {{link.attachName}}
            </div>
            <a [href]="getLink(link.attachLink)" target="_blank"> <i class="fa fa-download" aria-hidden="true"></i>Tải
              xuống</a> -
            <u (click)="removeAttachFile(link.attachFileId)" style="cursor: pointer;">Xóa bỏ</u>
          </div>
        </div>
      </div>
    </div>
    <div class="nutphiaTren">
      <div><button type="button" class="classBtn"> Mã công việc: <b>{{data.taskCode}}</b></button></div>
      <div><button pButton type="button" label="Thêm người xử lý" class="ui-button-secondary"
          (click)="findhandle.show($event)"></button></div>
      <div><button type="button" class="classBtn">Ngày tạo: <b>{{createDateForShow}}</b></button></div>
      <div><button type="button" class="classBtn classBtnHover" (click)="datedue.show($event)">
          Hạn hoàn thành: <b>{{dueDateForShow}}</b>
          <br *ngIf="data.dueText != null?true:false">
          <span *ngIf="data.dueText != null?true:false" class="dueTextCSS">
            Quá hạn: {{data.dueText}}
          </span>
        </button></div>
      <div><button type="button" class="classBtn classBtnHover" (click)="editTongTien = true;">
          Tổng tiền: <b>
            <span *ngIf="data.symbolsLocation == '2'">{{data.currencySymbol}}</span>
            {{money_format(data.amount,'','1')}}
            <span *ngIf="data.symbolsLocation == '1'">{{data.currencySymbol}}</span>
          </b>
        </button></div>
      <div>
        <p-dropdown [options]="taskStatus" [(ngModel)]="currentStatus" style="text-align:center" [itemSize]="27"
          [filter]="false" [style]="{'width':'100%','margin':'2px'}" (onChange)="updateTaskStatus($event)"></p-dropdown>
      </div>
    </div>
    <div class="hideInMB">
      <div class="headerDinhkem" (click)="attack.show($event)">
        <span>
          <i class="fa fa-paperclip"></i>
          Đính kèm
        </span>
      </div>

      <div class="fileDinhkem">
        <div *ngFor="let link of data.lsAttachFile;let i = index" class="everyLink">
          <div>
            <div (click)="previewLink(link.attachLink,link.type)" class="Linkpreview" pTooltip="Xem trước">
              {{link.attachName}}
            </div>
            <a [href]="getLink(link.attachLink)" target="_blank"> <i class="fa fa-download" aria-hidden="true"></i>Tải
              xuống</a> -
            <u (click)="removeAttachFile(link.attachFileId)" style="cursor: pointer;">Xóa bỏ</u>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- panel Thêm file đính kèm -->
  <p-overlayPanel #attack [dismissable]="true" [showCloseIcon]="true" [appendTo]="'body'">
    <!-- <div>
      <h6>Thêm file đính kèm</h6>
      <hr>
      <form #formAttach="ngForm">
        <div>
          Loại <div>
            <p-dropdown [options]="attachFileType" ngModel name="Type" placeholder="Chọn loại" [itemSize]="27"
              [filter]="false" [style]="{'width':'100%'}"></p-dropdown>
          </div>
        </div>
        <div>
          Link đính kèm <div> <input pInputText type="text" name="attachLink" ngModel></div>
        </div>
        <div>
          Tên link <div> <input pInputText type="text" name="attachName" ngModel></div>
        </div>
      </form>
      <div style="padding:10px 0 10px 0">
        <button (click)="AddAttachFile(formAttach,attack)" class="btn btn-success classBold">Thêm</button>
      </div>

    </div> -->
    <div>
      <h6><b>File đính kèm</b></h6>
      <hr>
      <form #Attachform="ngForm">
        <div>
          <input id="attackData" type="file" (change)="onChangeFile($event)" name="attackFile" ngModel>
        </div>
      </form>
      <div style="padding:10px 0 10px 0">
        <button (click)="dinhkemFile(attackImage,data)" class="btn btn-success classBold">Tải lên</button>
      </div>
      <div *ngFor="let alink of arrayContainDataForShow;let k = index" style="max-width: 100%;">
        <a [href]="alink.AttachLink">{{ returnNama(alink.AttachName)}}</a>
        <span *ngIf="countImage(data) > 0?true:false"> - </span>
        <u (click)="deleteImage(data,k)" style="cursor: pointer;" *ngIf="countImage(data) > 0?true:false">Xóa bỏ</u>
      </div>
    </div>
  </p-overlayPanel>

  <!-- panel tìm người xử lí -->
  <p-overlayPanel #findhandle [dismissable]="true" [showCloseIcon]="true" [appendTo]="'body'">
    <div>
      <h6>Tìm người xử lý</h6>
      <hr>
      <div><input pInputText type="text" placeholder="Tìm người xử lí" [(ngModel)]="nameHandler"
          (keyup)="keyUpFindHandle($event)"></div>
      <br>
      <h6><b>DANH SÁCH</b></h6>
      <p *ngIf="listSearchUser.result.data == ''?true:false"><i>(Vui lòng nhập tên)</i></p>
      <div style="max-height:25vh; overflow-y:scroll;">
        <div *ngFor="let user of listSearchUser.result.data" class="listUser" (click)="addMember(user.userId)">
          <span [class]="checkUser(user.userId)"><i class="fa fa-check"></i></span>
          <span class="iconUser">{{getFirstCharacterInUserName(user.username)}}</span>
          <span>{{user.username}}</span>
        </div>
      </div>
    </div>
  </p-overlayPanel>

  <!-- panel ngày tạo -->
  <p-overlayPanel #datecreate [dismissable]="true" [showCloseIcon]="true" [appendTo]="'body'">
    <span style="margin-bottom:5px;"></span>
  </p-overlayPanel>

  <!-- panel hạn hoàn thành -->
  <p-overlayPanel #datedue [dismissable]="true" [showCloseIcon]="true" [appendTo]="'body'">
    <div style="text-align:center;">
      <div>Sửa ngày hết hạn</div>
      <hr style="padding:0; margin:5px;">
      <span style="margin-bottom:5px;">Thời hạn hiện tại: {{dueDateForShow}}</span>
      <div>
        <p-calendar [inline]="true" (click)="datedue.show($event)" [(ngModel)]="dueDate" [locale]="vn"
          [monthNavigator]="true" [showTime]="true" [yearNavigator]="true" yearRange="2020:2080"></p-calendar>
      </div>
      <div style="margin: 10px 0 10px 0;">
        <button (click)="changeDueDate()" class="btn btn-success classBold">Thay đổi</button>
        <button (click)="closePanelUpdateDate(datedue)" class="btn btn-light classBold">Loại bỏ</button>
      </div>
    </div>
  </p-overlayPanel>
</div>

<div class="spinner" *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>
<p-confirmDialog key="chitietcv" icon="pi pi-exclamation-triangle" appendTo="body"></p-confirmDialog>
<p-confirmDialog #cd key="chitietcvConfirm" icon="pi pi-exclamation-triangle" appendTo="body">
  <p-footer>
    <div *ngIf="showPickReasion">
      <p-dropdown [options]="dropdownLyDo" [(ngModel)]="currentLyDo" style="text-align:center" [itemSize]="27"
        [filter]="false" [style]="{'width':'100%','margin':'2px'}" placeholder="-- Chọn lý do thay đổi   --">
      </p-dropdown>
      <br><br>
    </div>
    <button type="button" pButton icon="pi pi-check" label="Có" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Không" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>
<p-toast key="chitietcv"></p-toast>

<p-dialog header="Sửa tổng tiền" [(visible)]="editTongTien" [modal]="true" appendTo="body">
  <div style="text-align: center;">
    <input [ngModel]="data.amount" type="number" step="0.01" style=" padding:4px;margin:2px" [(ngModel)]="tongtien">
    <button class="classBtn classBtnHover" (click)="changeAmount(tongtien)">OK</button>
  </div>
  <div>Số tiền nhập: {{money_format(tongtien,'','1')}}</div>
</p-dialog>

<p-dialog [showHeader]="false" [modal]="true" [(visible)]="isOpenLargeImg" appendTo="body" [dismissableMask]="true"
  [contentStyle]="{'height':'500px','width':'500px'}" [style]="{width: '500px', height: '500px'}">
  <div>
    <iframe [src]="linkAttackUrl" name="chitiet" style="border:none;width:450px; height:400px;"
      *ngIf="!isImage"></iframe>
    <img [src]="linkAttackUrl" name="hinhanh" style="width:450px; height:400px;" *ngIf="isImage">
  </div>
</p-dialog>