<ngx-spinner type="line-spin-fade" [fullScreen]="true" size="default"></ngx-spinner>
<p-toast key="toast-message"></p-toast>
<div class="payment-container">

  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="title">
        TẠO YÊU CẦU THANH TOÁN HỘ
      </div>

      <div class="statistic padding-8">
        <div class="statistic-detail mr-right-8">
          Tổng số giao dịch: <span class="detail-number">{{paymentList.length}}</span>
        </div>
        <div class="statistic-detail mr-right-8">
          Tổng tiền thanh toán hộ <span class="detail-number">{{paymentList.length}}</span>
        </div>
        <div class="statistic-detail mr-right-8">
          Tổng tiền phí <span class="detail-number">{{paymentList.length}}</span>
        </div>
      </div>

      <div class="table padding-8">
        <p-table #dt [value]="paymentList" [rowHover]="true" [rows]="10" [paginator]="true">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px;">STT</th>
              <th>Số tiền ( (¥) )<span style="color: red;">*</span></th>
              <th>Nội dung</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-payment let-rowIndex="rowIndex">
            <tr>
              <td style="width: 50px;">  
                {{rowIndex}}
              </td>
              <td>
                <div class="input-fullwidth ">
                  <input type="text" [(ngModel)]="payment.amount" [style]=" {'width.px': '100%'}" pInputText placeholder="Số tiền" />
                </div>
              </td>
              <td>
                <div class="input-fullwidth ">
                  <input type="text" [(ngModel)]="payment.desc" [style]=" {'width.px': '100%'}" pInputText placeholder="Nội dung" />
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">No payments found.</td>
            </tr>
          </ng-template>
        </p-table>

        <div class="add-request-item">
          <p-button class="primary-btn" icon="pi pi-plus" label="Thêm yêu cầu" (click)="addPaymentRequest()"></p-button>
        </div>
        <div class="note">
          <p>Lưu ý:</p>
          <p>Thanh toán hộ 30k/ngày, ngoài giờ hành chính 50k/ngày</p>
          <p>Thanh toán hộ đơn sale 10k/ lệnh</p>
          <p>Nạp tệ Alipay 30k/lần</p>
          <p>Mua bán tệ 30k/ mã 5 lệnh</p>
        </div>
      </div>


    </div>
    <div class="col-sm-12 col-md-4">
      <div class="title">
        THÔNG TIN CHUNG
      </div>
      <form [formGroup]="filterForm" class="padding-8">
        <div class="mr-right-8 mr-bottom-8 input-fullwidth ">
          <div class="form-title">
            Mã khách hàng
          </div>
          <input type="text" [style]=" {'width.px': '100%'}" pInputText formControlName="UserId" placeholder="Mã khách hàng" />
        </div>
        <div class="mr-right-8 mr-bottom-8 input-fullwidth ">
          <div class="form-title">
            Mã yêu cầu
          </div>
          <input type="text" [style]=" {'width.px': '100%'}" pInputText formControlName="PaymentRequestCode" placeholder="Mã yêu cầu" />
        </div>
        <div class="mr-right-8 mr-bottom-8 ">
          <div class="form-title">
            Loại yêu cầu
          </div>
          <p-dropdown  [style]="{'width': '100%'}" [options]="paymentTypeList" formControlName="Type" placeholder="Loại yêu cầu"></p-dropdown>
        </div>
        <div class="mr-right-8 mr-bottom-8 ">
          <div class="form-title">
            Dịch vụ
          </div>
          <p-dropdown  [style]="{'width': '100%'}" [options]="paymentStatusList" formControlName="Status" placeholder="Dịch vụ">
          </p-dropdown>
        </div>
        <div class="mr-right-8 mr-bottom-8 input-fullwidth">
          <div class="form-title">
            Tỉ giá
          </div>
          <input [style]=" {'width.px': '100%'}" type="text" pInputText formControlName="ExchangeRate" placeholder="Tỉ giá" />
        </div>
        <div class="mr-right-8 mr-bottom-8 input-fullwidth ">
          <div class="form-title">
            Tổng tệ (¥)
          </div>
          <input  [style]=" {'width.px': '100%'}" type="text" pInputText formControlName="TotalAmount" placeholder="Tổng tệ" />
        </div>
        <div class="mr-right-8 mr-bottom-8 ">
          <div> Phí thanh toán:</div>
          <div style="color: #ec5d37;"> 1000đ</div>
          <div> Phí thanh toán:</div>
          <div style="color: #ec5d37;"> 1000đ</div>
        </div>
        <div class="mr-right-8 mr-bottom-8 btns-footer">
          <button pButton label="Xóa yêu cầu" style="min-width: 80px;" class="primary-btn mr-right-8" (click)="filterPayment()"></button>
          <button pButton label="Gửi yêu cầu" style="min-width: 80px;" class="primary-btn" (click)="filterPayment()"></button>
        </div>
      </form>
    </div>
  </div>

</div>