.filter-form {
  display: flex;
  width: 100%;
  margin: 16px 0;
  .controls {
    flex: 1;
    padding-right: 12px;
  }
}
.coupons {
  display: flex;
  .img-section {
    position: relative;
    overflow: hidden;
    min-width: 150px;
    height: 100%;
    margin-right: 10px;
    border-radius: 4px;
    width: 30%;
    max-width: 200px;
    min-height: 100px;
    .img-service {
      position: absolute;
      width: 74%;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
      margin: auto;
    }
    .total-use{
      position: absolute;
      z-index: 111;
      background: #f44335;
      padding: 4px;
      color: #fff;
      transform: translate(-30px, 10px) rotate( -48deg );
      width: 100px;
      text-align: center;
    }
  }
  .coupon-item {
    width: 100%;
    display: flex;
    padding: 4px;
    border: 2px dashed #848484;
    margin-bottom: 4px;
    border-radius: 8px;
    cursor: pointer;
    .main-infor {
      flex: 1;
      display: flex;
      .description {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-right: 12px;
        justify-content: space-between;
        .name {
          color: #333;
          font-size: 16px;
          font-weight: 500;
        }
        .out-date {
          color: gray;
        }
      }
      .use-now {
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px dashed #848484;
        padding-left: 10px;
        .text {
          text-transform: uppercase;
          background: #F44335;
          text-align: -webkit-center;
          font-size: 20px;
          font-weight: bold;
          width: 70px;
          color: #fff;
          padding: 4px;
          border-radius: 4px;
          line-height: 46px;
          height: 92px;
        }
      }
    }
  }
}
