.withdrawal-request-container{

  ::ng-deep{
    .ui-steps{
      display: flex;
      ul{
        display: flex;
        width: 100% !important;
        justify-content: center;
      }
    }
    .ui-steps .ui-steps-item {
      width: 30%;
      overflow: hidden;
      text-overflow: ellipsis;
      .ui-menuitem-link{
        .ui-steps-number{
        }
        .ui-steps-title{
          display: block;
          margin-top: 6px;
          color: #848484;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 80%;
        }
      }
    }
    
    .ui-steps.steps-custom {
      margin-bottom: 30px;
    }

    
    .ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
      height: 10px;
      padding: 0 1em;
    }
    
    .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
      background-color: #0081c2;
      color: #ffffff;
      display: inline-block;
      width: 36px;
      border-radius: 50%;
      margin-top: -14px;
      margin-bottom: 10px;
    }
    
    .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
      color: #555555;
    }
  }
}
