// format style
.no-padding {
    padding: 0 0 !important;
  }
  .no-margin {
    margin: 0 0 !important;
  }
  input[type="text"] {
    border: 1px solid #ddd;
    padding-left: 10px;
    border-radius: 5px;
    min-height: 36px;
    width: 90%;
    &:focus {
      outline: none !important;
    }
  }
  .calendar {
    width: 96%;
  }
  .ui-calendar {
    display: flex;
  }
  .required {
    color: #f05922;
  }
  
  .no-complaint {
    color: #f05922;
  }
  .avatar-img {
    max-width: 140px;
    padding: 5px 20px;
  }
  
  .edit-user {
    cursor: pointer;
    &:focus, &:active{
      outline: none !important;
      border: none !important;
      box-shadow:  none !important;
    }
  }
  .search {
    background-color: #f05922;
    font-size: 16px;
    min-width: 150px;
    height: 36px;
    line-height: 36px;
    border: none;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover {
      background-color: #f05922 !important;
      border: none !important;
    }
    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }
  }
  
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: #fff;
  }
  
  .footer {
    margin: 0 auto 20px auto;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    .no-complaint {
      color: #f05922;
    }
  }
  .filter {
    .filter-control {
      padding: 10px 15px !important;
    }
  }
  
  .table-data {
    padding: 10px 15px;
  }
  