<div style="background-color: #f4f4f4;">
   <h6 class="header-main">QUẢN LÝ PHIẾU GIAO HÀNG</h6>

   <div class="totalFunc">
      <button class="func">Thêm</button>
      <button class="func" (click)="FuncXoa()">Xóa</button>
   </div>
   <div style="border-top: 3px solid rgba(228, 89, 38, 0.945);padding:5px;margin:5px;">
      <div class="totalLoc">
         <form #formFilter="ngForm">
            <input type="text" pInputText class="dkloc" ngModel name="DeliveryRequestCode" placeholder="Mã phiếu">
            <input type="text" pInputText class="dkloc" ngModel name="MerchandiseCode" placeholder="Mã kiện hàng">
            <input type="text" pInputText class="dkloc" ngModel name="OrderCode" placeholder="Mã đơn hàng">
            <input type="text" pInputText class="dkloc" ngModel name="PhoneOrName" placeholder="SĐT/Tên người nhận">
            <span class="dkloc">
               <p-calendar [(ngModel)]="StartDate" name="StartDate" ngModel placeholder="Từ ngày"
                  [style]="{'width':'100%'}" dateFormat="dd/mm/yy" [inputStyle]="{'width':'100%'}"
                  [showButtonBar]="true"></p-calendar>
            </span>
            <span class="dkloc">
               <p-calendar [(ngModel)]="EndDate" name="EndDate" ngModel placeholder="Đến ngày"
                  [style]="{'width':'100%'}" dateFormat="dd/mm/yy" [inputStyle]="{'width':'100%'}"
                  [showButtonBar]="true"></p-calendar>
            </span>
            <p-dropdown [options]="dropdownHinhthuc" class="dkloc" ngModel name="Type" placeholder="--Hình thức--"
               [itemSize]="27" [filter]="false" [style]="{'width':'100%'}"></p-dropdown>
            <p-dropdown [options]="dropdownTrangthai" class="dkloc" ngModel name="Status" placeholder="--Trạng thái--"
               [itemSize]="27" [filter]="false" [style]="{'width':'100%'}"></p-dropdown>
            <p-button icon="fa fa-search" label="Lọc" class="btnSearch" (click)="FuncLoc(formFilter)"></p-button>
            <p-button icon="fa fa-refresh" label="Làm lại" class="btnSearch" (click)="ResetForm(formFilter)"></p-button>
         </form>
      </div>
      <div>
         <div style="margin:0;font-size: 13px;" class="totalBill">
            <span class="hideInPC hideInIpad showCheckboxAllinMB">
               <p-checkbox [(ngModel)]="checkedAll" binary="true" (click)="ChonTatCa()">
               </p-checkbox>
            </span>
            Số phiếu giao hàng là:
            <span style="font-weight: bold;color: rgba(228, 89, 38, 0.945);">{{dataFetch.data.dataCount}}</span>
         </div>

         <p-table [value]="datas" [columns]="columns" [resizableColumns]="true" [rowHover]="true" [responsive]="true"
            [style]="{'font-size':'12px'}">
            <ng-template pTemplate="header" let-columns>
               <tr>
                  <th style="text-align: center;width:35px" pResizableColumn class="hideInMB">
                     <p-checkbox [(ngModel)]="checkedAll" binary="true" (click)="ChonTatCa(datas)" class="hideInMB">
                     </p-checkbox>
                  </th>
                  <th *ngFor="let col of columns" class="table-th" pResizableColumn style="text-align: left;;"
                     [style.width]="col.width">
                     {{col.header}}
                  </th>
               </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex">
               <tr class="ui-selectable-row">
                  <td style="text-align: center;" class="hideInMB"
                     [style.background-color]="RowCheckedbox.indexOf(data['deliveryRequestId']) != -1?'#e2e2e2':'white' ">
                     <p-checkbox name="ID{{data.deliveryRequestId}}" id="ID{{data.deliveryRequestId}}"
                        [value]="data.deliveryRequestId" [(ngModel)]="RowCheckedbox">
                     </p-checkbox>
                  </td>
                  <td *ngFor="let col of columns" class="table-tb"
                     [style.background-color]="RowCheckedbox.indexOf(data['deliveryRequestId']) != -1?'#e2e2e2':'white' ">
                     <span class="ui-column-title" [style.padding-left]="col.field=='infoReceipt'?'25px':'0px'">
                        <p-checkbox name="ID{{data.deliveryRequestId}}" id="ID{{data.deliveryRequestId}}"
                           class="hideInPC" [value]="data.deliveryRequestId" [(ngModel)]="RowCheckedbox"
                           *ngIf="col.field=='infoVoucher'?true:false">
                        </p-checkbox>
                        {{col.header}}:
                     </span>
                     <span id="{{ col.field }}_{{ rowIndex }}" style="width: 100%;display: inline-block;"
                        class="canTrai" *ngIf="col.field=='infoVoucher'?true:false">
                        <span class="classBold">Mã phiếu: </span><span
                           class="classBold classBlue">{{data.deliveryRequestCode}}</span><br>
                        <!-- <span>Trạng thái: </span><span class="statusDisplayStyle">{{data.statusDisplay}}</span><br> -->
                        <span>Trạng thái: </span><span [class]="buttonStatus(data['status'])">{{data.statusDisplay}}</span><br>
                        <span>Hình thức giao: </span><span class="classBold">{{data.typeDisplay}}</span><br>
                        <span *ngIf="data.type =='5'?true:false">
                           <span style="padding-left:10px">- Tên nhà xe: </span><span
                              class="classBold">{{data.vehicle_name}}</span><br>
                           <span style="padding-left:10px">- Điện thoại: </span><span
                              class="classBold">{{data.vehicle_phone}}</span><br>
                           <span style="padding-left:10px">- Địa chỉ: </span><span
                              class="classBold">{{data.vehicle_address}}</span><br>
                        </span>
                        <span>Gồm: </span><span class="classBold classOrange">{{data.totalPackage}}</span> kiện hàng<br>
                        <span>Tổng trọng lượng: </span><span class="classBold classOrange">{{data.totalWeight}}</span>
                        kg<br>
                        <span>Kho: {{data.warehouseName}}</span>

                     </span>
                     <span id="{{ col.field }}_{{ rowIndex }}" style="width: 100%;display: inline-block;"
                        class="canTrai" *ngIf="col.field=='infoReceipt'?true:false">
                        <div class="part1">
                           <i class="fa fa-user"></i><span> {{data.contactName}}</span><br>
                           <i class="fa fa-phone-square"></i><span> {{data.contactPhone}}</span><br>
                           <i class="fa fa-map-marker"></i><span> {{data.address}}, {{data.wardDisplay}},{{data.districtDisplay}},
                              {{data.cityDisplay}}, {{data.countryDisplay}}</span><br>
                           <span>Ghi chú: </span>
                           <span
                              *ngIf="data.description==''||data.description==null || data.description==undefined?true:false">
                              <i class="fa fa-comments"></i> Chưa có ghi chú
                           </span>
                           <span class="classOrange" *ngIf="data.description==''||data.description==null 
                        || data.description==undefined?false:true"
                              (click)="showGhichu(ghichu,$event,data.description)">
                              <i class="fa fa-comments"></i> Ghi chú
                           </span>
                        </div>
                        <div class="part2">
                           <table style="width:100%" class="lsDetailcss">
                              <tr class="sm-th-table">
                                 <th style="width:8%;text-align: center;">#</th>
                                 <th *ngFor="let col of header_mock_detail" [style.width]="col.width"
                                    [style.text-align]="col.align">
                                    {{col.header}}
                                 </th>
                              </tr>
                              <tr *ngFor="let rowData of data.lsDetail; let i = index"
                                 [style.display]="i<3?'':hideElement">
                                 <td style="text-align: center;">{{i+1}}</td>
                                 <td *ngFor="let col of header_mock_detail" [style.text-align]="col.align"
                                    [class]="col.field=='orderCode'?'classBlue':''"
                                    (click)="col.field=='orderCode'?goToDetailOrder(rowData['orderId']):''">
                                    {{rowData[col.field]}} <span *ngIf="col.field=='paymentWeight'?true:false">kg</span>
                                 </td>
                              </tr>
                              <tr *ngFor="let rowData of data.lsDetail; let i = index"
                                 [style.display]="i == 3? '':'none'" (click)="loadmore()" class="classOrange"
                                 style="font-size: 13px;">
                                 <i class="fa fa-angle-double-down" *ngIf="hideElement == 'none'?true:false">hiện...</i>
                                 <i class="fa fa-angle-double-up" *ngIf="hideElement != 'none'?true:false">ẩn...</i>
                              </tr>
                           </table>
                        </div>
                     </span>
                  </td>
               </tr>
            </ng-template>
         </p-table>
         <!-- button phân trang -->
         <div style="text-align:center;">
            <button (click)="selectPage('f')" [disabled]="numbPage==1?true:false" class="paginator">
               <i class="fa fa-step-backward"></i>
            </button>
            <button (click)="selectPage('p')" [disabled]="numbPage==1?true:false" class="paginator">
               <i class="fa fa-caret-left"></i>
            </button>
            <button *ngFor="let page of pages" type="button" tabindex="-1" class="" (click)="selectPage(page)"
               [class]="numbPage - page === 0 ?'pageActive paginator':'selectpage paginator'">{{ page }}</button>
            <button (click)="selectPage('n')" [disabled]="numbPage==maxPage?true:false" class="paginator">
               <i class="fa fa-caret-right"></i>
            </button>
            <button (click)="selectPage('l')" [disabled]="numbPage==maxPage?true:false" class="paginator">
               <i class="fa fa-step-forward"></i>
            </button>
         </div>
      </div>
   </div>

</div>

<div class="w100">
   <p-messages [(value)]="msgs" (click)="clear()"></p-messages>
</div>
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" key="dsyeucau" appendTo="body"></p-confirmDialog>
<p-toast key="dsyeucau"></p-toast>
<p-overlayPanel #ghichu appendTo="body">
   {{GhiChu}}
</p-overlayPanel>
<div class="spinner" *ngIf="loading">
   <p-progressSpinner></p-progressSpinner>
</div>