<div style="background-color: #f4f4f4;">
   <h6 class="header-main">DANH SÁCH CÔNG VIỆC</h6>

   <div class="totalFunc">
      <button class="func" (click)="updataStatus('2','Bắt đầu')">Bắt đầu</button>
      <button class="func" (click)="updataStatus('3','Hoàn thành')">Hoàn thành</button>
      <button class="func" (click)="updataStatus('4','Hủy')">Hủy</button>
   </div>
   <div style="border-top: 3px solid rgba(228, 89, 38, 0.945);padding:5px;margin:5px;">
      <div class="totalLoc">
         <form #formFilter="ngForm">
            <input type="text" pInputText class="dkloc" ngModel name="TaskCode" placeholder="Mã công việc">
            <input type="text" pInputText class="dkloc" ngModel name="RefCode" placeholder="Mã tham chiếu">
            <span class="dkloc">
               <p-calendar [(ngModel)]="StartDate" name="StartDate" ngModel placeholder="Từ ngày"
                  [style]="{'width':'100%'}" dateFormat="dd/mm/yy" [inputStyle]="{'width':'100%'}"
                  [showButtonBar]="true" [locale]="vn"></p-calendar>
            </span>
            <span class="dkloc">
               <p-calendar [(ngModel)]="EndDate" name="EndDate" ngModel placeholder="Đến ngày"
                  [style]="{'width':'100%'}" dateFormat="dd/mm/yy" [inputStyle]="{'width':'100%'}"
                  [showButtonBar]="true" [locale]="vn"></p-calendar>
            </span>
            <p-dropdown [options]="loaiCongViec" class="dkloc" ngModel name="TaskType" placeholder="Loại công việc"
               [itemSize]="27" [filter]="false" [style]="{'width':'100%','min-width':'0'}"></p-dropdown>
            <p-dropdown [options]="loaiThamChieu" class="dkloc" ngModel name="RefType"
               placeholder="Loại tham chiếu" [itemSize]="27" [filter]="false" [style]="{'width':'100%','min-width':'0'}"></p-dropdown>
            <p-dropdown [options]="TrangThai" class="dkloc" ngModel name="TaskStatus" placeholder="Trạng thái"
               [itemSize]="27" [filter]="false" [style]="{'width':'100%','min-width':'0'}"></p-dropdown>
            <input type="text" pInputText class="dkloc" ngModel name="TaskContent" placeholder="Nội dung">
            <div class="btnGroup">  
               <p-button icon="fa fa-search" label="Lọc" class="btnSearch" (click)="FuncLoc(formFilter)"></p-button>
               <p-button icon="fa fa-refresh" label="Làm lại" class="btnSearch" (click)="ResetForm(formFilter)">
               </p-button>
            </div>
         </form>
      </div>
      <div>
         <div style="margin:0">
            <span class="hideInPC hideInIpad showCheckboxAllinMB">
               <p-checkbox [(ngModel)]="checkedAll" binary="true" (click)="ChonTatCa(datas)">
               </p-checkbox>
            </span>
            Số công việc:
            <span style="font-weight: bold;color: rgba(228, 89, 38, 0.945);">{{dataFetch.data.dataCount}}</span>
            <span *ngIf="mangDulieuTinhTong != 0">- Tiền task chọn: 
               <span style="font-weight: bold;color: rgba(228, 89, 38, 0.945);">{{money_format(tongTienDuLieuDaChon.toFixed(2),'','1' )}}</span>
            </span>
            <span *ngIf="mangDulieuTinhTong != 0">- Tổng tiền: 
               <span style="font-weight: bold;color: rgba(228, 89, 38, 0.945);">{{money_format(dataFetch.data.totalAmount,'','1' )}}</span>
            </span>
         </div>
         <p-table [value]="datas" [columns]="columns" [resizableColumns]="true" [rowHover]="true" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
               <tr>
                  <th style="text-align: center;width:50px" pResizableColumn class="hideInMB">
                     <p-checkbox [(ngModel)]="checkedAll" binary="true" (click)="ChonTatCa(datas)">
                     </p-checkbox>
                  </th>
                  <th *ngFor="let col of columns" class="table-th" pResizableColumn
                     style="text-align: left;font-size: 12px;" [style.width]="col.width">
                     {{col.header}}

                  </th>
               </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex">
               <tr class="ui-selectable-row">
                  <td style="text-align: center;" class="hideInMB"
                     [style.background-color]="RowCheckedbox.indexOf(data['taskId']) != -1?'#e2e2e2':'white' ">
                     <p-checkbox name="ID{{data.taskId}}" class="hideInMB"
                        id="ID{{data.taskId}}" [value]="data.taskId"
                        [(ngModel)]="RowCheckedbox" (onChange)="tinhTongTien()">
                     </p-checkbox>
                  </td>
                  <td *ngFor="let col of columns" class="table-tb"
                     [style.background-color]="RowCheckedbox.indexOf(data['taskId']) != -1?'#e2e2e2':'white' ">
                     <!-- Trong cột td có 3 span, span thứ nhất là header của bảng trong reponsive trên điện thoại --> 
                     <span class="ui-column-title" [style.padding-left]="col.field!='taskCode'?'25px':'0px'">
                        <p-checkbox name="ID{{data.taskId}}" id="ID{{data.taskId}}"
                           class="hideInPC" [value]="data.taskId" [(ngModel)]="RowCheckedbox"
                           *ngIf="col.field=='taskCode'?true:false" (onChange)="tinhTongTien()">
                        </p-checkbox>
                        {{col.header}}:
                     </span>
                     <!-- Trong span  thứ 2, phần class:
                     - Mã công việc: font xanh và đậm
                     - Loại công việc: font tùy từng trạng thái
                     - Trạng thái: Font tùy từng trạng thái
                     - Nếu cột mã tham chiếu thì không hiển thị
                     - Các cột còn lại hiển thị chiều dài full.
                     *Phần sự kiện: nếu là cột mã công việc thì chuyển trang tới chi tiết công việc
                     -->
                     <span *ngIf="col.field=='refCode'||col.field=='lsMember'||col.field=='amount'?false:true"
                       [class]="col.field=='taskCode'? 'classBold classBlue canTrai':col.field=='typeDisplay'? 
                   buttonType(data['type']):col.field=='statusDisplay'?buttonStatus(data['status']):'displayBlockInMB canTrai'">
                       <span *ngIf="col.field!='taskCode'">{{col.type =='date'?(data[col.field]| date:"dd/MM/yyyy"):(data[col.field])}}</span>
                       <a *ngIf="col.field=='taskCode'" href="{{returnLink}}" target="_blank" (mousedown)="getCurrentLink(data['taskCode'])">{{(data[col.field])}}</a>
                        <div *ngIf="col.field=='dueDate'?true:false" [class]="data.isLated==true?'redText':'greenText'">
                           {{data.dueText}}
                        </div>
                     </span>
                     <!-- span thứ 3 nếu là mã tham chiếu thì hiển thị, không phải thì ẩn.
                     Click vào mã sẽ chuyển tới đơn hàng hoặc kiện hàng tương ứng -->
                     <span *ngIf="col.field=='refCode'?true:false" class="displayBlockInMB canTrai">
                        <div>{{data.refTypeDisplay}}</div>
                        <a (mousedown)="goToOrder(data['refId'],data['refType'])" target="_blank" href="{{returnLinkOrder}}">
                          {{data[col.field]}}
                       </a>
                     </span>
                     <!-- thêm span thứ 4 hiển thị người xử lí -->
                     <span *ngIf="col.field=='lsMember'?true:false">
                        <div *ngFor="let member of data.lsMember">- {{member.username}}</div>
                     </span>
                     <!-- thêm span thứ 5 hiển thị tiền -->
                     <span *ngIf="col.field=='amount'?true:false"  (click)="activeEditTongtien(data)">
                       <span *ngIf="data.symbolsLocation == '2'">{{data.currencySymbol}}</span>
                       {{money_format(data.amount,'','1')}}
                       <span *ngIf="data.symbolsLocation == '1'">{{data.currencySymbol}}</span>
                    </span>
                  </td>
               </tr>
            </ng-template>
         </p-table>
         <div style="text-align:center;">
            <button (click)="selectPage('f')" [disabled]="numbPage==1?true:false" class="paginator">
               <i class="fa fa-step-backward"></i>
            </button>
            <button (click)="selectPage('p')" [disabled]="numbPage==1?true:false" class="paginator">
               <i class="fa fa-caret-left"></i>
            </button>
            <button *ngFor="let page of pages" type="button" tabindex="-1" class="" (click)="selectPage(page)"
               [class]="numbPage - page === 0 ?'pageActive paginator':'selectpage paginator'">{{ page }}</button>
            <button (click)="selectPage('n')" [disabled]="numbPage==maxPage?true:false" class="paginator">
               <i class="fa fa-caret-right"></i>
            </button>
            <button (click)="selectPage('l')" [disabled]="numbPage==maxPage?true:false" class="paginator">
               <i class="fa fa-step-forward"></i>
            </button>
         </div>
      </div>
      <div class="spinner" *ngIf="loading">
         <p-progressSpinner></p-progressSpinner>
      </div>
   </div>


   <p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" key="dscongviec" appendTo="body"></p-confirmDialog>
   <p-confirmDialog #cd key="chitietcvConfirm" icon="pi pi-exclamation-triangle" appendTo="body">
     <p-footer>
       <div *ngIf="showPickReasion">
         <p-dropdown [options]="dropdownLyDo" [(ngModel)]="currentLyDo" style="text-align:center" [itemSize]="27"
           [filter]="false" [style]="{'width':'100%','margin':'2px'}" placeholder="-- Chọn lý do thay đổi --"></p-dropdown>
           <br><br>
       </div>
       <button type="button" pButton icon="pi pi-check" label="Có" (click)="cd.accept()"></button>
       <button type="button" pButton icon="pi pi-times" label="Không" (click)="cd.reject()"></button>
   </p-footer>
   </p-confirmDialog>
   <p-toast key="dscongviec"></p-toast>
   <p-dialog header="Sửa tổng tiền" [(visible)]="editTongTien" [modal]="true" appendTo="body">
     <div style="text-align: center;">
       <input [ngModel]="dataEditSotien.amount" type="number" step="0.01" style=" padding:4px;margin:2px" [(ngModel)]="tongtien">
       <button class="classBtn classBtnHover" (click)="changeAmount(tongtien)">OK</button>
     </div>
     <div>Số tiền nhập: {{money_format(tongtien,'','1')}}</div>
   </p-dialog>