// .opt-menu {
    .mat-menu-item {
        line-height: unset !important;
    }
// }


// =================================================
.row{
    margin-right: unset !important;
    margin-left: unset !important;
}

.w100 {
    width: 100px;
}
.w40 {
    width: 40%;
}